*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#f8f8f8;
color:#111;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.navbar ul{
display:flex;
list-style:none;
gap:25px;
}

.navbar a{
text-decoration:none;
color:black;
font-weight:500;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.hero h2{
font-size:28px;
color:#555;
margin-bottom:20px;
}

.hero p{
color:#666;
margin-bottom:20px;
}

.btn{
background:black;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:8px;
margin-right:10px;
}

.btn-outline{
border:2px solid black;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
color:black;
}

.hero-img img{
width:350px;
}

.social i{
margin-right:15px;
font-size:20px;
margin-top:20px;
}

section{
padding:80px 10%;
}

.project-container{
display:flex;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.services{
display:flex;
gap:20px;
}

.service-card{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
}

input,textarea{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
border-radius:5px;
}